<!DOCTYPE html>
<html>
  <head>
    <title>E-greetings </title>
    <link rel="stylesheet" href="css/delete.css">
  </head>
  <body>
    <main>
    <div class="container">
      <form action="/delete" method="post"> 
      
        <div class="input-box">
            <label for="name" id="namelable">name:</label>
            <input type="text" id="name" name="name" value ="<%=locals.name%>" disabled>
         
        </div>
        <div class="input-box">
            <label for="mail" id="maillable">E-mail:</label>
            <input type="text" id="mail" name="mail" value ="<%=locals.email%>" disabled>
           
          </div>
        <div class="input-box">
            <label for="AN" id="ANlable">Admission Number:</label>
            <input type="text" id="AN" name="AN" value ="<%=locals.admissionnumber%>" disabled>
        
        </div>
        <div class="input-box">
          <label for="EN" id="ENlable">Enrollment Number:</label>
          <input type="text" id="EN" name="EN"  value ="<%=locals.enrollmentnumber>" disabled>
      
      </div>
        <div class="input-box">
            <label for="DOB" id="DOBlable">Date of Birth:</label>
            <input type="text" id="DOB" name="DOB" value ="<%=locals.dateofbirth%>" disabled>
            
          </input>
          </div>

          
        <button type="button" class="btn" href="#">Delete</button> 
      </form>
    </div>
    </main>
  </body>
</html>